<!DOCTYPE html>
<html>
  <head>
    <title>own event test</title>  

    <!--the order maters here-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    
  </head>
  
  <body class="bd-docs" >

    <!--the navbar!!!!!!!!!!!!!!!!!!!!!!!!-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">YouEeveent</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/RSVP/home">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{username}}</button>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SignOut</button>
        </form> 
      </div>
    </nav>

    <!--the event name and time!!!!!!!!!!!!!!!!!!!!!!!-->
    <div class="container">
      <div class="row">
	<!--      <form action="/admin" method="post">-->
	<div class="col-md-12 mb-3">
	  <h3>{{event.event_name}} </h3>
	</div>
	<div class="col-md-12 mb-3">
	  <h3>{{event.event_time}}</h3>
	</div>
	<div class="col-md-4 mb-3">
	  <button type="button" class="btn btn-danger">delete this event</button>
	</div>
	<!--    </form> -->
      </div>
      <hr>

      <!--the guestInfo-->
      <div class="mb-3">
	<h2>GuestInfo</h2>
	<h3>
      	  <span>{{guestNum}}</span> guests will attend your <span>{{event_name}}</span>
	</h3>
	<div class="bd-example">

	  <div class="dropdown">
  	    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	      Guets list
  	    </button>
  	    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	      {% for people in guestPass %}
    	      <a class="dropdown-item" href="#">{{people.user}}</a>
	      {% endfor %}
	    </div>  
	    <div class="btn-group">
	      <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Pending guests
	      </button>
	      <div class="dropdown-menu">
		{% for people in guestPending %}
		<a class="dropdown-item" href="#">{{people.user}}</a>
		{% endfor %}
	      </div>
	    </div>


	    <div style="width:30%">
	      <form action="" method="post">
		{%csrf_token%}
		{% for error in form.non_field_errors %}
	      <div class="form-group has-errors text-danger small">
		{{error}}
	      </div>
	      {% endfor %}
	      {% for field in inviteNewGuestform %}
	      <div class="form-group has-errors text-danger small">
		{{field.errors}}
	      </div>
	      <div class="form-group has-errors text-danger small">
	      </div>
	      <div class="form-group">
		{{field.label}}
		{{field}}
	      </div>
	      {% endfor %}
	      <button class="btn btn-primary" style="width:100%">invite new guest</button>
	      </form>
	    </div>
	    


	  </div>
	</div>
	<hr>

	<!--the vendor Info-->
	<div class="mb-3">
	  <h2>vendorInfo</h2>
	  <h3>
            <span>{{vendorNum}}</span> vendor will attend your <span>{{event_name}}</span>
	  </h3>
	  <div class="bd-example">

	    <div class="dropdown">
	      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		vendor list
	      </button>
	      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		{% for people in vendorPass %}
		<a class="dropdown-item" href="#">{{people.user}}</a>
		{% endfor %}
	      </div>

	      <div class="btn-group">
		<button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Pending vendor
		</button>
		<div class="dropdown-menu">
		  {% for people in vendorPending %}
		  <a class="dropdown-item" href="#">{{people.user}}</a>
		  {% endfor %}
		</div>
	      </div>



	    <div style="width:30%">
	      <form action="" method="post">
		{%csrf_token%}
		{% for error in form.non_field_errors %}
	      <div class="form-group has-errors text-danger small">
		{{error}}
	      </div>
	      {% endfor %}
	      {% for field in inviteNewVendorform %}
	      <div class="form-group has-errors text-danger small">
		{{field.errors}}
	      </div>
	      <div class="form-group has-errors text-danger small">
	      </div>
	      <div class="form-group">
		{{field.label}}
		{{field}}
	      </div>
	      {% endfor %}
	      <button class="btn btn-primary" style="width:100%">invite new vendor</button>
	      </form>
	    </div>
	    


	      

	    </div>
	  </div>
	  <hr>


	  <!--the vendorInfo-->
	  <div class="mb-3">
	    <h2>OwnerInfo</h2>
	    <h3>
              <span>{{ownerNum}}</span> owner will attend your <span>{{event_name}}</span>
	    </h3>
	    <div class="bd-example">

	      
	      <div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  Owner list
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		  {% for people in ownerPass %}
		  <a class="dropdown-item" href="#">{{people.user}}</a>
		  {% endfor %}
		</div>

		<button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
		  invite new 
		</button>
		<div class="btn-group">
		  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    Pending owner
		  </button>
		  <div class="dropdown-menu">
		    {% for people in ownerPending %}
		    <a class="dropdown-item" href="#">{{people.user}}</a>
		    {% endfor %}
		  </div>
		</div>

	    <div style="width:30%">
	      <form action="" method="post">
		{%csrf_token%}
		{% for error in form.non_field_errors %}
	      <div class="form-group has-errors text-danger small">
		{{error}}
	      </div>
	      {% endfor %}
	      {% for field in inviteNewOwnerform %}
	      <div class="form-group has-errors text-danger small">
		{{field.errors}}
	      </div>
	      <div class="form-group has-errors text-danger small">
	      </div>
	      <div class="form-group">
		{{field.label}}
		{{field}}
	      </div>
	      {% endfor %}
	      <button class="btn btn-primary" style="width:100%">invite new Owner</button>
	      </form>
	    </div>
	    



	      </div>
	    </div>
	    <hr>





	    <div>
	      <h2>Question</h2>
	    </div>
	    <div class="dropdown">
  	      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    		Question list
  	      </button>
  	      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
		{% for question in questions %}
		<a class="dropdown-item" href="{{event.id}}/questionPage/{{question.id}}">{{question.question_text}}</a>
		{% endfor %}
	      </div>
	      <button type="button" class="btn btn-primary"
		      onclick="location='{{event.id}}/questionPage/{{question.question.id}}'">
 		add new 
	      </button>
	    </div>
	  </div>

  </body>
</html>
