<!DOCTYPE html>
<html>
<head>
	<title>test main page</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
</head>

<body>

<!--the navbar!!!!!!!!!!!!!!!!!!!!!!!!-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">YouEeveent</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{username}}</button>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">SignOut</button>
        </form> 
      </div>
    </nav>


<!--the username!!!!!!!!!!!!!!!!!-->
  <div class="container">
    <div class="text-center">
      <h1>{{people.name}}</h1>
      <img src="https://cdn.bulbagarden.net/upload/thumb/e/e2/133Eevee.png/250px-133Eevee.png">
    </div>
    <hr>
    
    <!--the table of events!!!!!!!!!!!!!!!!!-->

    <div class="row">
      <div class="col-md-4">
        <h2>Event you own</h2>
        <h5>You've been invited to own those event</h5>
        <p>you can accpet or decline those events </p>

        {% for event in ownEventsPending %}
        <p>{{event.event}}
          <a class="btn btn-secondary" href="#" role="button">accept
          </a>
          <a class="btn btn-secondary" href="#" role="button">decline </a>
        </p>
        {% endfor %}
      </div>
          
      <div class="col-md-4">
        <h2>Event you guest</h2>
        <h5>You've been invited to those event</h5>
        <p>you can accpet or decline those events</p>

        {% for event in guestPending %}
        <p>{{event.event}}
          <a class="btn btn-secondary" href="#" role="button">accept
          </a>
          <a class="btn btn-secondary" href="#" role="button">decline </a>
        </p>
        {% endfor %}
      </div>

      <div class="col-md-4">
        <h2>Event you vendor</h2>
        <h5>You've been invited to vendor those event</h5>
        <p>you can accpet or decline those events</p>

        {% for event in venderPending %}
        <p>{{event.event}}
          <a class="btn btn-secondary" href="#" role="button">accept
          </a>
          <a class="btn btn-secondary" href="#" role="button">decline </a>
        </p>
        {% endfor %}
      </div>
    </div> 
    <hr>
  </div> <!-- /container -->
  
  <div class="container">
        <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h5>You own those event</h5>
        <p>you can click to edit those events</p>
	<p><a class="btn btn-secondary" href="#" role="button">creat event &raquo;</a></p>  
        {% for event in ownEvents %}
           <p><a class="btn btn-secondary" href="../event/{{event.event.id}}" role="button">{{event.event}} &raquo;</a></p>
        {% endfor %}
      </div>
          
      <div class="col-md-4">
        <h5>You are in those event</h5>
        <p>you can click to change your answer</p>
        {% for event in guestEvents %}
           <p><a class="btn btn-secondary" href="#" role="button">{{event.event}} &raquo;</a></p>
        {% endfor %}
      </div>

      <div class="col-md-4">
        <h5>You are the vendor to those event</h5>
        <p>you can click to view thoes events</p>
        {% for event in venderEvents %}
           <p><a class="btn btn-secondary" href="#" role="button">{{event.event}} &raquo;</a></p>
        {% endfor %}
      </div>
    </div> 
    <hr>
  </div> <!-- /container -->



  <div class="container">
        <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h5>History owned event</h5>
        <p>click to view more </p>
        <p><a class="btn btn-secondary" href="#" role="button">Event1 &raquo;</a></p>
        <p><a class="btn btn-secondary" href="#" role="button">Event2 &raquo;</a></p>
        <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
      </div>
          
      <div class="col-md-4">
        <h5>History guest events</h5>
        <p>click to view more</p>
        <p><a class="btn btn-secondary" href="#" role="button">Event1 &raquo;</a></p>
        <p><a class="btn btn-secondary" href="#" role="button">Event2 &raquo;</a></p>
        <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
      </div>

      <div class="col-md-4">
        <h5>History vendor event</h5>
        <p>click to view more</p>
        <p><a class="btn btn-secondary" href="#" role="button">Event1 &raquo;</a></p>
        <p><a class="btn btn-secondary" href="#" role="button">Event2 &raquo;</a></p>
        <p><a class="btn btn-secondary" href="#" role="button">More &raquo;</a></p>
      </div>
    </div> 
    <hr>
  </div> <!-- /container -->






</body>
</html>
