<form method="post" action="">
  {%csrf_token%}
  {% for question in multiChoiceQuestions%}
  {{question.question_text}}
  {% for choice in choices %}
  {% if choice.question_id == question.id %}
  <div class="custom-control custom-radio">
    <input type="radio" name="{{question.id}}" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
  </div>
  {% endif %}
  {% endfor %}
  {% endfor %}
  {% for question in textQuestions%}
  <div>
    <p>{{question.question_text}}</p>
    <input class="form-control form-control-lg" type="text" placeholder=".form-control-lg" name="{{question.id}}">
    {% endfor  %}
  </div>
  <button class="btn btn-danger" style="width:20%" type="submit">Submit</button>
  {{TestResponseFormSet}}
</form>
